.background {
	width: 100%;
	height: 100%;
	background-color: white;
	&--gray {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bbbbba+0,706f6f+100 */
		background: #bbbbba; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, #bbbbba 0%, #706f6f 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, #bbbbba 0%, #706f6f 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, #bbbbba 0%, #706f6f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbba', endColorstr='#706f6f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	&--primary {
		background-color: $color-primary;
	}
	&--semaphore {
		background: rgb(210, 47, 48);
		background: linear-gradient(0deg, rgba(210, 47, 48, 1) 0%, rgba(162, 196, 80, 1) 100%);
	}
}
